<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.tinyexplosions.cordova.plugin.ConfigManager"
    version="1.0.0">

    <name>Config Manager Plugin for Cordova iOS</name>
    <description>This plugin adds some entries to config.xml to allow changes to be made in FeedHenry Cordova Light apps.</description>
    <license>Apache 2.0</license>
    <keywords>config</keywords>   
    
    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>
    
    <!-- ios -->
    <platform name="ios">
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/widget">
          <preference name="StatusBarOverlaysWebView" value="false" />
          <preference name="StatusBarBackgroundColor" value="#000000" />
          <preference name="StatusBarStyle" value="#lightcontent" />
        </config-file>        
    </platform>
</plugin>