<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.tinyexplosions.cordova.plugin.ConfigManager"
    version="1.1.1">

    <name>Config Manager Plugin for Cordova iOS</name>
    <description>This plugin adds some entries to config.xml to allow changes to be made in FeedHenry Cordova Light apps.</description>
    <license>Apache 2.0</license>
    <keywords>config</keywords>   
    
    <engines>
        <engine name="cordova" version=">=2.2.0" />
    </engines>
    
    <asset src="files/Entitlements.plist" target="Entitlements.plist" />
    <!-- this needs to be added to the .plist file-->
    <platform name="ios">

      <!-- <hook type="after_plugin_install" src="hooks/install_entitlements_plist.js" /> -->

    </platform>
</plugin>